#include("../header.html")

<article class="main-content page-page" itemscope itemtype="http://schema.org/Article">
	<div class="post-header">
		<h1 class="post-title" itemprop="name headline">
			#(article.title)
		</h1>
		<div class="post-data">
			<time datetime="2018-04-01T23:34:00+08:00" itemprop="datePublished">Published on Apr 1, 2018</time> in   with #(commentNum) <a href="#comments">comments </a>
		</div>
	</div>
	<div id="post-content" class="post-content" itemprop="articleBody">
        <p class="post-tags">
        	#for(category:acategorys)
        		<a href="/#(category.id)" >#(category.mname)</a>
        	#end
        </p>
		#(article.content)
		<p class="post-info">
			本文由 <a href="<?php $this->author->permalink(); ?>">范文皓</a> 创作，采用 <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="external nofollow">知识共享署名4.0</a> 国际许可协议进行许可<br>本站文章除注明转载/出处外，均为本站原创或翻译，转载前请务必署名<br>最后编辑时间为: 最后编辑时间为: Apr 2, 2018 at 03:22 am 
		</p>
	</div>
</article>

<div id="post-bottom-bar" class="post-bottom-bar">
	<div class="bottom-bar-inner">
		<div class="bottom-bar-items social-share left">
			<span class="bottom-bar-item">Share : </span>
			<span class="bottom-bar-item bottom-bar-facebook"><a href="javascript:shareQzone()" rel="nofollow">Qzone</a></span>
			<span class="bottom-bar-item bottom-bar-twitter"><a href="javascript:shareTwitter()" target="_blank" title="<?php $this->title() ?>" rel="nofollow">Twitter</a></span>
			<span class="bottom-bar-item bottom-bar-weibo"><a href="javascript:shareWeibo()" target="_blank" title="分享至微博" rel="nofollow">Weibo</a></span>
		</div>
		<div class="bottom-bar-items right">
			<span class="bottom-bar-item"><?php theNext($this); ?></span>
			<span class="bottom-bar-item"><?php thePrev($this); ?></span>
			<span class="bottom-bar-item"><a href="#footer">↓</a></span>
			<span class="bottom-bar-item"><a href="#">↑</a></span>
		</div>
	</div>
</div>
<script type="text/javascript">
/**分享至qq空间*/
function shareQzone(){
	var p = {
			url:location.href,
			showcount:'1',/*是否显示分享总数,显示：'1'，不显示：'0' */
			desc:'赞！',/*默认分享理由(可选)*/
			title:document.title,/*分享标题(可选)*/
			site:'范文皓的个人博客',/*分享来源 如：腾讯网(可选)*/
			pics:'', /*分享图片的路径(可选)*/
			style:'203',
			width:98,
			height:22
		};
	var s = [];
	for(var i in p){
	s.push(i + '=' + encodeURIComponent(p[i]||''));
	}
	window.open("http://connect.qq.com/widget/shareqq/index.html?"+s.join('&'));
}
/**获取当前页面的url*/
function getUrl(){
	return document.location.href.replace("#","");
}
/**分享至推特*/
function shareTwitter(){
	window.open("https://twitter.com/intent/tweet?url="+getUrl()+"&text="+document.title);
}
/**分享至微博*/
function shareWeibo(){
	window.open("http://service.weibo.com/share/share.php?url="+getUrl()+"&title="+document.title);
}
</script>

#include('comments.html')

#include('../footer.html')