#include('partial/header.html')
<div class="main-content index-page clearfix">
    <div class="post-lists">
        <div class="post-lists-body">
          
        </div>
    </div>
    <div class="lists-navigator clearfix">
      	<div id="index-page"></div>
    </div>
</div>

<script type="text/html" id="tpl-article">
<div class="post-list-item">
    <div class="post-list-item-container">
        <div class="item-thumb bg-deepgrey" style="background-image:url({{article.thumbImg}});"></div>
        <a href="/article/{{article.pkId}}">
            <div class="item-desc">
                <p>{{article.content}}...</p>
            </div>
        </a>
        <div class="item-slant reverse-slant bg-deepgrey"></div>
        <div class="item-slant"></div>
        <div class="item-label">
            <div class="item-title"><a href="/article/{{article.pkId}}">{{article.title}}</a>
            </div>
            <div class="item-meta clearfix">
                <div class="item-meta-ico "
                     style="background: url(/_view/templates/fl/static/img/bg-ico.png) no-repeat;background-size: 40px auto;"></div>
                <div class="item-meta-cat">
               		   <a><span class="article-categorys" data-id="{{article.pkId}}"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
</script>
<style>
	.layui-laypage-page{
	 display:flex;
             justify-content:center;
             align-items:center;}
	</style>
#include('partial/footer.html')
<script type="text/javascript" src="/assets/front/js/index.js"></script>