#define header()
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="shortcut icon" href="/_view/templates/pinghsu/static/img/favicon.png"/>
    <link rel="apple-touch-icon" href="/_view/templates/pinghsu/static/img/apple-touch-icon.png"/>
    <title></title>
    <link href="/assets/css/index.css" rel="stylesheet">
    #@jquery()
    <link href="/assets/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.css" rel="stylesheet">
    #@layui()
	<script src="/assets/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.js"></script>
	<script src="/assets/js/base.js?v=v1.0"></script>
    <script type="text/javascript">
		var fl=new $.fl();
	</script>
<script type="text/javascript" src="/assets/plugins/template/art-template.js"></script>
<script type="text/javascript" src="/assets/kit/art-template-plugin.js"></script>

<script type="text/javascript" src="/assets/common/meta.js"></script>
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="bg-grey"  gtools_scp_screen_capture_injected="true">
<!--[if lt IE 8]>
<div class="browsehappy" role="dialog">
    当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/" target="_blank">升级你的浏览器</a>。
</div>
<![endif]-->
<header id="header" class="header bg-white">
     
	    <ul class="category-list" >
	       	<li class="nav-item" data-id="0"><a href="javascript:void(0)">首页</a></li>
	    </ul>
 
</header>
<script type="text/javascript">

var initCatgeory={
		callback:function (categorys){
			var $categoryLi;
			var $categoryUl=$(".category-list");
			$.each(categorys,function(index,item){
				$categoryLi=$(template("tpl-category",{"category":item}))
				$categoryUl.append($categoryLi);
			})
		}
}


window.addEventListener("load",function(){
	listMeta("category",initCatgeory);
})
</script>
<script type="text/html" id="tpl-category">
	<li class="nav-item" data-id="{{category.id}}"><a href="javascript:void(0)">{{category.mname}}</a></li>
</script>
#end